@font-face {
    font-family: 'Bariol';
    src: url('bariol_bold.eot');
    src: url('bariol_bold.eot?#iefix') format('embedded-opentype'),
         url('bariol_bold.woff2') format('woff2'),
         url('bariol_bold.woff') format('woff'),
         url('bariol_bold.ttf') format('truetype'),
         url('bariol_bold.svg#bariolbold') format('svg');
    font-weight: 700;
    font-style: normal;
}
