$primary-color: #54c410;
$primary-color-alpha: rgba(84, 196, 16, 0.2);

$text-primary: rgba(0, 0, 0, 0.87);
$text-secondary: rgba(0, 0, 0, 0.54);
$icon-inactive: rgba(0, 0, 0, 0.26);
$divider-color: rgba(0, 0, 0, 0.14);

$favorite-color: #f50057;
$bookmark-color: #0091ea;

$grey-50: #FAFAFA;
$grey-100: #F5F5F5;
$grey-200: #EEE;
$grey-300: #E0E0E0;
$grey-400: #BDBDBD;