{
  "ignore": "node_modules",
  "presets": [
    "stage-3",
    "es2015"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "@": "./src"
      }
    }]
  ]
}